# =========================
# Maven
# =========================
target/
*.class

# =========================
# TestNG / Test Output
# =========================
test-output/
surefire-reports/
failsafe-reports/

# =========================
# Logs
# =========================
*.log

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swpci-tools/*.jar
ci-tools/bug-analyzer.jar
